In [57]:
import random as rand
import pandas as pand 
import sympy as sym

Número de alternativas = 4 
Alternativas =


Colombia Yappo          a1 

PCHogar                 a2

Medmall                 a3

eBay                    a4
  
Número de criterios = 10

Criterios = 


Eficiencia              c1 =0,3
prácticidad             c2 =0,05
fácilidad de uso        c3 =0,05
ahorro de tiempo        c4 =0,05
comunicación            c5 =0,025
Confianza               c6 =0,1
Seguridad               c7 =0,3
Familiar                c8 =0,02
Experiencia             c9 =0,075  
Competencia            c10 =0,03

In [58]:
crit = []
for i in range(1,11,1):
    crit.append('criterio_'+ str(i))

alt = []
for i in range(1,5,1):
    alt.append('alternative_'+str(i))
alt.append('pesos')

In [59]:
MTopsis = sym.zeros(5,10)
for i in range(0,10,1):
    for j in range(0,4,1):
        MTopsis[j,i] = rand.randrange(0,100)

pesos = [0.3, 0.05, 0.05, 0.05, 0.025, 0.1, 0.3, 0.02, 0.075, 0.03]
for i in range(0,10,1):
    MTopsis[4,i] = pesos[i]

ATopsis = MTopsis.tolist()
MTopsisFrame = pand.DataFrame(ATopsis, index = alt ,columns = crit)
display(MTopsisFrame)

,criterio_1,criterio_2,criterio_3,criterio_4,criterio_5,criterio_6,criterio_7,criterio_8,criterio_9,criterio_10
alternative_1,26,98,82,43,47,72,43,66,37,34
alternative_2,5,86,74,5,44,55,26,69,54,8
alternative_3,21,70,98,58,17,47,23,22,29,13
alternative_4,86,21,5,60,48,48,85,85,99,5
pesos,0.300000000000000,0.0500000000000000,0.0500000000000000,0.0500000000000000,0.0250000000000000,0.100000000000000,0.300000000000000,0.0200000000000000,0.0750000000000000,0.0300000000000000

In [60]:
VTopsis = MTopsis
norm = 0
for j in range(0,10,1):
    for i in range(0,4,1):
        norm = norm + MTopsis[i,j]**2
    for k in range(0,4,1):
        VTopsis[k,j] = MTopsis[k,j]/norm

ATopsis = VTopsis.tolist()
VTopsisFrame = pand.DataFrame(ATopsis, index = alt ,columns = crit)
display(VTopsisFrame)

,criterio_1,criterio_2,criterio_3,criterio_4,criterio_5,criterio_6,criterio_7,criterio_8,criterio_9,criterio_10
alternative_1,13/4269,98/30879,41/26354,43/61546,47/68284,12/13501,43/91285,22/36037,37/123038,17/62226
alternative_2,5/8538,86/30879,37/26354,5/61546,11/17071,55/81006,26/91285,23/36037,27/61519,2/31113
alternative_3,7/2846,70/30879,49/26354,29/30773,17/68284,47/81006,23/91285,22/108111,29/123038,13/124452
alternative_4,43/4269,7/10293,5/52708,30/30773,12/17071,8/13501,17/18257,85/108111,99/123038,5/124452
pesos,0.300000000000000,0.0500000000000000,0.0500000000000000,0.0500000000000000,0.0250000000000000,0.100000000000000,0.300000000000000,0.0200000000000000,0.0750000000000000,0.0300000000000000

In [61]:
WTopsis = VTopsis
for i in range(0,10,1):
    for j in range(0,4,1):
        WTopsis[j,i] = VTopsis[j,i]*VTopsis[4,i]

ATopsis = WTopsis.tolist()
WTopsisFrame = pand.DataFrame(ATopsis, index = alt ,columns = crit)
display(WTopsisFrame)

,criterio_1,criterio_2,criterio_3,criterio_4,criterio_5,criterio_6,criterio_7,criterio_8,criterio_9,criterio_10
alternative_1,0.000913562895291637,0.000158683895203860,7.77870531987554e-5,3.49332206804666e-5,1.72075449592877e-5,8.88823050144434e-5,0.000141315659746946,1.22096733912368e-5,2.25540077049367e-5,8.19593096133449e-6
alternative_2,0.000175685172171469,0.000139253214158490,7.01980723988768e-5,4.06200240470542e-6,1.61091910257161e-5,6.78962052193665e-5,8.54466779865257e-5,1.27646585453839e-5,3.29166598936914e-5,1.92845434384341e-6
alternative_3,0.000737877723120169,0.000113345639431329,9.29650147985126e-5,4.71192278945829e-5,6.22400562357214e-6,5.80203935510950e-5,7.55874459111574e-5,4.06989113041226e-6,1.76774654984639e-5,3.13373830874554e-6
alternative_4,0.00302178496134926,3.40036918293986e-5,4.74311299992411e-6,4.87440288564651e-5,1.75736629371449e-5,5.92548700096289e-5,0.000279344908802103,1.57245793675019e-5,6.03472098051009e-5,1.20528396490213e-6
pesos,0.300000000000000,0.0500000000000000,0.0500000000000000,0.0500000000000000,0.0250000000000000,0.100000000000000,0.300000000000000,0.0200000000000000,0.0750000000000000,0.0300000000000000